/* * { 
    margin : 0;
    padding : 0;
} */

html{
    background-color: orange;
}

.gap {
    padding-top: 50px;
}

.read {
    text-align: center;
    /* text-size: 30px; */
    font-size: 30px;
}

.display_area {
    display: flex;
    justify-content: center;
}

.window {
    width: 75%;
    height: 500px;
    border: none;
}
